# Server Configuration
PORT=7777

# Database
MONGODB_URI=

# Authentication & Security
JWT_SECRET=

# Frontend & Backend URLs
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:7777
GITHUB_CALLBACK_URL=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# AWS SES Configuration
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=eu-north-1
AWS_SES_SENDER=
